build/
jobs/
examples/videos/
examples/MobileSSD/MobileSSD_VOC0712/data/
examples/MobileSSD/MobileSSD_VOC0712/log/
examples/MobileSSD/MobileSSD_VOC0712/prototxt/
examples/MobileSSD/MobileSSD_VOC0712/result/
examples/MobileSSD/MobileSSD_VOC0712/model/
examples/ssd/ssd_RMinfantry/data/
examples/ssd/ssd_RMinfantry/log/
examples/ssd/ssd_RMinfantry/model/
examples/ssd/ssd_RMinfantry/prototxt/
examples/ssd/ssd_RMinfantry/result/
examples/ssd/ssd_VOC0712/data/
examples/ssd/ssd_VOC0712/log/
examples/ssd/ssd_VOC0712/model/
examples/ssd/ssd_VOC0712/prototxt/
examples/ssd/ssd_VOC0712/result/
